/* COMPANY NAME CSS */
.company-name {
    padding-left: 4px;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 24px;
    color: #FFF;
    line-height: 1.2;
}

.navbar-brand {
    height: 110px;
}

/* HOMEPAGE CSS */

.feature-image-wrapper {
    max-height: 500px;
    max-width: 500px;
}

/* FOOTER CSS */

.certified-image-wrapper {
    /*max-height: 740px;*/
    max-height: 200px;
    max-width: 200px;
}

footer .client-slider {
    list-style: none;
    padding-left: 0;
    position: relative;
    display: block;
    margin: 0 auto;
}
footer .client-slider li {
    margin: 5px 5px;
    display: inline-block;
}

footer address strong {
    display: inline-block;
    width: 66px;
}

footer address {
    margin-bottom: 2px;
}

footer p {
    font-size: 14px;
    text-align: left;
}

/* CRISPYFORMS CSS */

.asteriskField {
    display: none;
}

 /* CUSTOM TABLE CSS */

.borderless  > tbody > tr > td {
  border: none;
}

.borderless>thead>tr>th, 
.borderless>tbody>tr>th, 
.borderless>tfoot>tr>th, 
.borderless>thead>tr>td, 
.borderless>tbody>tr>td, 
.borderless>tfoot>tr>td {
    padding: 0 0 0 0;
}

 /* CUSTOM PAGINATION CSS */

.pager .previous>a, .pager .previous>span {
    float: left;
}
.pager li>a, .pager li>span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: none;
    border-radius: 0px;
}

 /* CUSTOM PORTFOLIO CSS */

.progress {
    height: 100%;
    border-radius: 0;
    /*background: rgba(0, 0, 0, 0.2);*/
    background: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0px;
    margin-top: 20px;
}

.progress-bar {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.about .teams span {
    padding-bottom: 0px;
}

.progress-bar-warning {
    /*background-color: rgba(0, 0, 0, 0.2);*/
    background-color: #1A1E22;
    background-color: #5cb85c;

    background-color: rgba(0, 0, 0, 0.4);
    /*
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    */
}

.skills-legend {
    margin-top: 20px;
    opacity: 0.8;
}

.skills-legend:before {
    width: 100%;
    height: 3px;
    position: relative;
    content: ' ';
    display: block;
    margin-bottom: -13px;
    background: #c6c6c6;
}

.skills-legend div {
    width: 25%;
    display: inline-block;
    font-size: 1.2em;
    color: #a9a9a9;
    float: left;
}

.legend-left.legend:before {
    margin-left: 0;
}
.legend:before {
    width: 8px;
    height: 10px;
    position: relative;
    content: ' ';
    display: block;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: 15px;
    margin-left: auto;
    margin-bottom: 15px;
    background: #c6c6c6;
}

.legend-right {
    text-align: right;
}

.legend-right.legend:before {
    margin-right: 0px;
}

.skills-legend-text div {
    width: 25%;
    display: inline-block;
    font-size: 1.2em;
    color: #a9a9a9;
    float: left;
}

.about .teams h4 {
    margin-top: 30px;
    margin-bottom: 0px;
    color: #202020;
    font-weight: 400;
}

.about .teams h3 {
    margin-bottom: 0px;
    color: #202020;
    font-weight: 400;
}

.about .teams h2 {
    margin-bottom: 20px;
    color: #202020;
    font-weight: 400;
}

.hr {
    border-top: 2px solid rgba(0, 0, 0, 1.5);
    margin-top: 25px;
    margin-bottom: 30px;
}

.about .teams .percentage-color h3 {
    color: #e74c3c;
}



/*
vanlig hd 48-72 hästkrafter standard

efter trimming 150 hästkrafer
*/




/* DEBUG 

.container {
    border: 2px solid purple;
}
.row {
    border: 2px solid red;
}
.col-md-1 {
    border: 2px solid green;
}
.col-md-2 {
    border: 2px solid green;
}
.col-md-3 {
    border: 2px solid green;
}
.col-md-4 {
    border: 2px solid green;
}
.col-md-5 {
    border: 2px solid green;
}
.col-md-6 {
    border: 2px solid green;
}
.col-md-7 {
    border: 2px solid green;
}
.col-md-8 {
    border: 2px solid green;
}
.col-md-9 {
    border: 2px solid green;
}
.col-md-10 {
    border: 2px solid green;
}
.col-md-11 {
    border: 2px solid green;
}
.col-md-12 {
    border: 2px solid green;
}

*/

/* END OF DEBUG */
