{% extends "pages/page.html" %}

{% load mezzanine_tags staticfiles %}

{% load smart_load %}
{% load thumbnail from sorl.thumbnail as sorl_thumbnail %}

{% block main %}
{{ block.super }}

<!-- BEGIN PORTFOLIO -->
<section id="portfolio" class="portfolio odd">
    <div class="row">
        <div class="col-md-12 mg-bt-80">
            <div class="row portfolioContainer  text-center">
            {% with page.gallery.images.all as images %}
            {% for image in images %}
                <div class="col-md-4 col-xs-6 portfolio-item websites">
                    <a class="popup" rel="#image-{{ image.id }}" title="{{ image.description }}" href="{{ image.file.url }}">

                        <span class="project-hover">
                            <span>{{ image.description }}</span>
                        </span>
                        
                        {% sorl_thumbnail image.file "500x500" as im %}
                            <img src="{{ im.url }}" alt="Team 1">
                        {% endthumbnail %}
                        
                    </a>
                </div>
            {% endfor %}
            {% endwith %}
            </div>
        </div>
    </div>
</section>
<!-- END PORTFOLIO -->

{% endblock %}

{% block extra_js %}
{{ block.super }}
<script src="{% static "mezzanine/js/magnific-popup.js" %}"></script>
<script>
$(document).ready(function() {
    $('.gallery').magnificPopup({
        delegate: 'a',
        type: 'image',
        gallery: {
            enabled: true,
        }
    });
});
</script>
{% endblock %}