{% extends "pages/page.html" %}

{% load mezzanine_tags staticfiles garis_theme_extra%}

{% load smart_load %}
{% load thumbnail from sorl.thumbnail as sorl_thumbnail %}


{% block main %}
{{ block.super }}

<!-- BEGIN PORTFOLIO -->
<section id="about" class="about odd">
    <div class="row">

        <div class="col-md-12 mg-bt-80">
            <div class="row portfolioContainer">

            {% for item in page.portfoliopage.portfolioitem_set.all %}

                <div class="col-md-4">
                    <div class="teams">
                        <!--
                        <div class="pict">
                        {% sorl_thumbnail thumbnail item.image.url "400x325" as im %}
                            <img src="{{ im.url }}" alt="Team 1">
                        {% endthumbnail %}
                        </div>
                        -->
                        <div class="desc">
                            <h2>Märke</h2>
                            
                            <p>{{ item.job }}</p>


                            <h4><b>Hästkrafter</b></h4>
                            <div class="progress">
                              <div class="progress-bar progress-bar-warning" style="width: {% widthratio item.before_power 250 100 %}%">
                                <span class="progress-bar-span"> {% widthratio item.before_power 100 100 %}</span>
                                <!--<span class="sr-only">{{ item.after_power }}% After (warning)</span>-->
                              </div>

                                <div class="progress-bar progress-bar-success" style="width: {% widthratio item.after_power 250 100 %}%">
                                <span class="progress-bar-span">+ {% widthratio item.after_power 100 100 %}</span>
                                <!--<span class="sr-only">{{ item.after_power }}% After (warning)</span>-->
                              </div>
                            </div>

                            <div class="skills-legend-text clearfix">
                                <div><span><h3>{{ item.before_power }}</h3></span></div>
                                <div><span><h3>{{ item.after_power }}</h3></span></div>
                                <div><span><h3>{{ item.before_power|add:item.after_power }}</h3></span></div>
                                <div><span class="percentage-color"><h3>{{ item.before_power|percentage_increase:item.after_power }}%</h3></span>
                                </div>
                            </div>

                            <div class="skills-legend clearfix">
                                <div class="legend-left legend"><span>Före</span></div>
                                <div class="legend-left legend"><span>Efter</span></div>
                                <div class="legend-left legend"><span>Totalt</span></div>
                                <div class="legend-left legend"><span>Ökning</span></div>
                            </div>

                            <hr class="hr">

                            <h4><b>Vridmoment</b></h4>
                            <div class="progress">
                              <div class="progress-bar progress-bar-warning" style="width: {% widthratio item.before_power 250 100 %}%">
                                <span class="progress-bar-span"> {% widthratio item.before_power 100 100 %}</span>
                                <!--<span class="sr-only">{{ item.after_power }}% After (warning)</span>-->
                              </div>

                                <div class="progress-bar progress-bar-success" style="width: {% widthratio item.after_power 250 100 %}%">
                                <span class="progress-bar-span">+ {% widthratio item.after_power 100 100 %}</span>
                                <!--<span class="sr-only">{{ item.after_power }}% After (warning)</span>-->
                              </div>
                            </div>

                            <div class="skills-legend-text clearfix">
                                <div><span><h3>{{ item.before_power }}</h3></span></div>
                                <div><span><h3>{{ item.after_power }}</h3></span></div>
                                <div><span><h3>{{ item.before_power|add:item.after_power }}</h3></span></div>
                                <div><span class="percentage-color"><h3>{{ item.before_power|percentage_increase:item.after_power }}%</h3></span></div>
                            </div>

                            <div class="skills-legend clearfix">
                                <div class="legend-left legend"><span>Före</span></div>
                                <div class="legend-left legend"><span>Efter</span></div>
                                <div class="legend-left legend"><span>Totalt</span></div>
                                <div class="legend-left legend"><span>Ökning</span></div>
                            </div>

                        </div>


                
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- END PORTFOLIO -->

{% endblock %}

